@charset "UTF-8";

html {
    background-color: #3a68b7;
    font-family: 'Helvetica', arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
      
}
.container-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: white;
}

form {
    border: 2px solid black;
    margin: auto;
    box-shadow: -10px 5px black;
}

label {
    margin-top: 1em;
}

.btn {
    margin-top: 1em;
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}

.btn {
    background-color: #3a68b7;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

input:focus {
    border: 2px solid blue;
}

input {
    border: none;
    outline: none;
}

.info {
    border-bottom: 2px solid blue;
    padding: 1em;
}

